{
    "root": true,
    // "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "ReactDOM": true,
        "React": true,
        "classNames": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread":true,
            "modules":true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "react/no-multi-comp": 0,
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "comma-dangle": [
            2,
            "never"
        ],
        "object-curly-spacing": [
            2,
            "never"
        ],
        "array-bracket-spacing": [
            2,
            "never"
        ],
        "max-len": [
            2,
            300,
            {
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreComments": true
            }
        ],
        "operator-linebreak": [
            2,
            "after"
        ],
        "consistent-return": 0,
        "prefer-destructuring": [
            2,
            {
                "array": false,
                "object": false
            },
            {
                "enforceForRenamedProperties": false
            }
        ],
        "function-paren-newline": 0,
        "no-plusplus": 1,
        "no-param-reassign": 1,
        "no-mixed-operators": 1,
        "global-require": 1,
        "no-restricted-syntax": 1,
        "valid-jsdoc": 1
    }
}