@import '../util.scss';

.list-box {
    padding: 24px 32px 40px;
    font-size: 14px;

    .table-operator {
        span {
            margin-right: 10px;
        }

    }

    .table-info {
        width: 100%;
        height: 40px;
        line-height: 40px;
        background: $col4;
        border-radius: 4px;
        border: 1px solid #91D4FF;
        margin-top: 16px;

        .icon {
            color: $col1;
            margin: 0 7px 0 13px;
        }

        a {
            margin-left: 21px;
        }

    }

    .table-content {
        margin-top: 14px;

        .table-list {
            width: 100%;
            font-size: 14px;
            .table-thead {
                color: $col8;
                background: #FAFAFA;
                box-shadow: 0px 1px 0px 0px rgba(232, 232, 232, 1);

                th {
                    padding: 16px;
                }

            }

            .table-tbody {
                color: $col9;

                tr {
                    box-shadow: 0px 1px 0px 0px rgba(232, 232, 232, 1);

                    td {
                        padding: 16px;

                        .icon-gengduocaozuo {
                            color: $col1;
                        }

                    }

                }

            }
            .table-align-left{
                text-align: left;
            }
            .table-align-center{
                text-align: center;
            }
            .table-align-right{
                text-align: right;
            }

        }

    }
    .table-pagination{
        margin-top: 26px;
        text-align: right;
    }

}

// 状态

.badge-status-dot {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 8px;
}

.badge-status-success {
    background-color: #52c41a
}

.badge-status-processing {
    background-color: #1890ff;
    position: relative
}

.badge-status-processing:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #1890ff;
    content: "";
    animation: antStatusProcessing 1.2s ease-in-out infinite
}

.badge-status-default {
    background-color: #d9d9d9
}

.badge-status-error {
    background-color: #f5222d
}

.badge-status-warning {
    background-color: #faad14
}


@keyframes antStatusProcessing {
    0% {
        transform: scale(.8);
        opacity: .5
    }

    to {
        transform: scale(2.4);
        opacity: 0
    }
}
