@import "variables";
@import '../../scss/util.scss';

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('../../iconfont/iconfont.eot') format('embedded-opentype'),
    url('../../iconfont/iconfont.ttf') format('truetype'),
    url('../../iconfont/iconfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}

.icon-table {
    &:before {
        content: $icon-table;
    }
}

.icon-help {
    &:before {
        content: $icon-help;
    }
}

.icon-edit {
    &:before {
        content: $icon-edit;
    }
}

.icon-location {
    &:before {
        content: $icon-location;
    }
}

.icon-share {
    &:before {
        content: $icon-share;
    }
}

.icon-like {
    &:before {
        content: $icon-like;
    }
}

.icon-personal {
    &:before {
        content: $icon-personal;
    }
}

.icon-personal-2 {
    &:before {
        content: $icon-personal-2;
    }
}

.icon-personal-setting {
    &:before {
        content: $icon-personal-setting;
    }
}

.icon-close {
    &:before {
        content: $icon-close;
    }
}

.icon-close-2 {
    &:before {
        content: $icon-close-2;
    }
}

.icon-all-app {
    &:before {
        content: $icon-all-app;
    }
}

.icon-app {
    &:before {
        content: $icon-app;
    }
}

.icon-app-list {
    &:before {
        content: $icon-app-list;
    }
}

.icon-left {
    &:before {
        content: $icon-left;
    }
}

.icon-right {
    &:before {
        content: $icon-right;
    }
}

.icon-up {
    &:before {
        content: $icon-up;
    }
}

.icon-down {
    &:before {
        content: $icon-down;
    }
}

.icon-left-arrow-calendar {
    &:before {
        content: $icon-left-arrow-calendar;
    }
}

.icon-right-arrow-calendar {
    &:before {
        content: $icon-right-arrow-calendar;
    }
}

.icon-left-arrows {
    &:before {
        content: $icon-left-arrows;
    }
}

.icon-right-arrows {
    &:before {
        content: $icon-right-arrows;
    }
}

.icon-left-arrow {
    &:before {
        content: $icon-left-arrow;
    }
}

.icon-right-arrow {
    &:before {
        content: $icon-right-arrow;
    }
}

.icon-up-arrow {
    &:before {
        content: $icon-up-arrow;
    }
}

.icon-down-arrow {
    &:before {
        content: $icon-down-arrow;
    }
}

.icon-sort {
    &:before {
        content: $icon-sort;
    }
}

.icon-sort-up {
    &:before {
        content: $icon-sort-up;
    }
}

.icon-sort-down {
    &:before {
        content: $icon-sort-down;
    }
}

.icon-upload {
    &:before {
        content: $icon-upload;
    }
}

.icon-download {
    &:before {
        content: $icon-download;
    }
}

.icon-bookmarks {
    &:before {
        content: $icon-bookmarks;
    }
}

.icon-bookmarksed {
    &:before {
        content: $icon-bookmarksed;
    }
}

.icon-delete {
    &:before {
        content: $icon-delete;
    }
}

.icon-deleted {
    &:before {
        content: $icon-deleted;
    }
}

.icon-add {
    &:before {
        content: $icon-add;
    }
}

.icon-minus {
    &:before {
        content: $icon-minus;
    }
}

.icon-add-2 {
    &:before {
        content: $icon-add-2;
    }
}

.icon-minus-2 {
    &:before {
        content: $icon-minus-2;
    }
}

.icon-success-2 {
    &:before {
        content: $icon-success-2;
    }
}

.icon-success {
    &:before {
        content: $icon-success;
    }
}

.icon-info {
    &:before {
        content: $icon-info;
    }
}

.icon-infoed {
    &:before {
        content: $icon-infoed;
    }
}

.icon-zoomin {
    &:before {
        content: $icon-zoomin;
    }
}

.icon-zoom {
    &:before {
        content: $icon-zoom;
    }
}

.icon-right-align {
    &:before {
        content: $icon-right-align;
    }
}

.icon-left-align {
    &:before {
        content: $icon-left-align;
    }
}

.icon-setting {
    &:before {
        content: $icon-setting;
    }
}

.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}

.icon-organization {
    &:before {
        content: $icon-organization;
    }
}

.icon-check {
    &:before {
        content: $icon-check;
    }
}

.icon-message {
    &:before {
        content: $icon-message;
    }
}

.icon-tag {
    &:before {
        content: $icon-tag;
    }
}

.icon-shutdown {
    &:before {
        content: $icon-shutdown;
    }
}

.icon-detail {
    &:before {
        content: $icon-detail;
    }
}

.icon-color {
    &:before {
        content: $icon-color;
    }
}

.icon-dropdown {
    &:before {
        content: $icon-dropdown;
    }
}

.icon-notice {
    &:before {
        content: $icon-notice;
    }
}

.icon-printer {
    &:before {
        content: $icon-printer;
    }
}

.icon-global {
    &:before {
        content: $icon-global;
    }
}

.icon-warn {
    &:before {
        content: $icon-warn;
    }
}

.icon-echart {
    &:before {
        content: $icon-echart;
    }
}

.icon-search {
    &:before {
        content: $icon-search;
    }
}

.icon-more {
    &:before {
        content: $icon-more;
    }
}

.icon-comment {
    &:before {
        content: $icon-comment;
    }
}

.icon-history {
    &:before {
        content: $icon-history;
    }
}

.icon-menu {
    &:before {
        content: $icon-menu;
    }
}

.icon-menu-2 {
    &:before {
        content: $icon-menu-2;
    }
}

.icon-redo {
    &:before {
        content: $icon-redo;
    }
}

.icon-loading-2 {
    &:before {
        content: $icon-loading-2;
    }
}

.icon-ashcan {
    &:before {
        content: $icon-ashcan;
    }
}

.icon-rotate {
    @include animation(rotaed360 1s linear infinite);
}
