$icomoon-font-family: "iconfont" !default;
$icomoon-font-path: "../../iconfont" !default;

$icon-table: "\e69a";
$icon-help: "\e69b";
$icon-edit: "\e69c";
$icon-location: "\e69e";
$icon-share: "\e69f";
$icon-like: "\e6a0";
$icon-personal: "\e6a1";
$icon-personal-2: "\e6a3";
$icon-personal-setting: "\e6a5";
$icon-close: "\e6a6";
$icon-close-2: "\e6a8";
$icon-all-app: "\e6a7";
$icon-app: "\e6d2";
$icon-app-list: "\e6ab";
$icon-left: "\e6c5";
$icon-right: "\e6cb";
$icon-up: "\e6db";
$icon-down: "\e6c9";
$icon-left-arrow-calendar: "\e6af";
$icon-right-arrow-calendar: "\e6ae";
$icon-left-arrows: "\e6b2";
$icon-right-arrows: "\e6b0";
$icon-left-arrow: "\e6d8";
$icon-right-arrow: "\e6d3";
$icon-up-arrow: "\e6b3";
$icon-down-arrow: "\e6c4";
$icon-sort: "\e6b6";
$icon-sort-up: "\e6b4";
$icon-sort-down: "\e6c1";
$icon-upload: "\e6b5";
$icon-download: "\e6c6";
$icon-bookmarks: "\e6bb";
$icon-bookmarksed: "\e6b9";
$icon-delete: "\e6bc";
$icon-deleted: "\e6ba";
$icon-add: "\e6be";
$icon-minus: "\e6dc";
$icon-add-2: "\e6bf";
$icon-minus-2: "\e6dd";
$icon-success-2: "\e6a9";
$icon-success: "\e69d";
$icon-info: "\e6ce";
$icon-infoed: "\e6cd";
$icon-zoomin: "\e6d5";
$icon-zoom: "\e6da";
$icon-right-align: "\e6cf";
$icon-left-align: "\e6d1";
$icon-setting: "\e6b7";
$icon-calendar: "\e6b1";
$icon-organization: "\e6aa";
$icon-check: "\e6d0";
$icon-message: "\e6c0";
$icon-tag: "\e6c2";
$icon-shutdown: "\e6c3";
$icon-detail: "\e6c7";
$icon-color: "\e6c8";
$icon-dropdown: "\e6ca";
$icon-notice: "\e6cc";
$icon-printer: "\e6d4";
$icon-global: "\e6d6";
$icon-warn: "\e6d7";
$icon-echart: "\e6d9";
$icon-search: "\e6bd";
$icon-more: "\e6ac";
$icon-comment: "\e6ad";
$icon-history: "\e6b8";
$icon-menu: "\e6de";
$icon-menu-2: "\e6df";
$icon-redo: "\e6e0";
$icon-loading-2: "\e6e1";
$icon-ashcan: "\e6e2";

